POSTGRES_DB=agent_workspace
POSTGRES_USER=agent_workspace
POSTGRES_PASSWORD=change-me
API_HOST_PORT=18080
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_OAUTH_REDIRECT_URI=https://wspace.cleadwine.ru/api/v1/auth/github/callback
GITHUB_OAUTH_SUCCESS_REDIRECT_PATH=/
